<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Fatigue Detection</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/styles.css') }}">
  </head>
  <body>
    <h1>Fatigue Detection</h1>
    <div>
        <div class="video">
          <img src="{{ url_for('video') }}" width="100%"/>
        </div>
        <p>You had a long day. Now it's midnight and you have a assignment to complete
          how are you going to stay awake? You use Machine Learning!
        </p>
    </div>
            
    </body>


</html>